.cat-contacts {
  position: relative;

  &::after {
    position: absolute;
    width: 99px;
    height: 3px;
    top: 12px;
    right: 0;
    background-color: $cat-green;
    content: "";
  }

  & .cat-program__legend {
    padding-right: 80px;
  }
}

