.cat-program {
  display: flex;
  flex-direction: column;
  margin-bottom: 33px;
}

.cat-program__fieldset {
  box-sizing: border-box;
}

.cat-program__label {
  display: block;
  color: #222222;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  cursor: pointer;
}

.cat-program__textarea {
  display: block;
  width: 100%;
}
