.cat-target {
  padding-bottom: 8px;
  border-bottom: 1px solid #ededed;
  margin-bottom: 29px;
}

.cat-target__label {
  position: relative;

  display: block;
  cursor: pointer;
  padding-left: 46px;
  padding-top: 6px;
  margin: 2px 20px 0 20px;
}

.cat-target__input + .cat-target__label::before {
  content: "";

  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  left: 0;

  width: 28px;
  height: 28px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
}

.cat-target__input:checked + .cat-target__label::after {
  content: "";

  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  left: 10px;
  width: 11px;
  height: 11px;
  background: #68b738;
  border-radius: 50%;
}

.cat-target__input:focus + .cat-target__label::before {
  border-color: #bababa;
  outline: 1px solid #fcc305;
}
