.cat-comments {
  position: relative;

  &::after {
    position: absolute;
    width: 158px;
    height: 3px;
    top: 12px;
    right: 0;
    background-color: $cat-green;
    content: "";
  }

  & .cat-program__legend {
    padding-right: 150px;
  }
}
