.form-header {
  margin: $mobile-margin;
}

.form-header__title {
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 15px 0;
  padding-bottom: 0;
  font-size: 36px;
  line-height: 60px;
  font-weight: 500;
  color: #111111;
}

.form-header__text {
  color: #111111;
  padding-right: 30px;
  font-weight: 400;
  margin: 0 auto;
  margin-bottom: 39px;
  text-transform: uppercase;
}
