.btn {
  display: block;
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  background-color: $cat-green;
  padding: 10px 20px 12px 20px;
  box-sizing: border-box;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .btn {
    width: auto;
    font-size: 20px;
    line-height: 20px;
    padding: 17px 29px 15px 26px;
  }
}

@media (min-width: $desktop-width) {
  .btn {
    width: auto;
  }
}
