.main-nav {
  background-color: #ffffff;
}

.main-nav__link {
  font-family: "Oswald Medium", "Arial", "Helvetica", sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}
