.main-nav {
  display: none;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: transparent;
}

.page-header__menu-wrapper--opened .main-nav {
  display: block;
}

.site-list__item {
  box-sizing: border-box;
  border-bottom: 1px solid #e6e6e6;

  &:first-child {
    border-top: 1px solid #e6e6e6;
  }
}

.main-nav__link {
  display: block;
  padding: 25px 0;
  font-family: "Oswald Medium", "Arial", "Helvetica", sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.page-header__wrapper {
  display: block;
  padding-top: 11px;
  padding-bottom: 16px;
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: block;
    width: auto;
    margin: 0;
  }

  .site-list__item {
    border: none;

    &:first-child {
      border: none;
    }
  }

  .main-nav__list {
    width: 440px;
    display: flex;
    justify-content: space-between;
  }

  .main-nav__link {
    font-family: "Oswald", "Arial", "Helvetica", sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    display: block;
  }

  .site-list__item {
    border: none;

    &:first-child {
      border: none;
    }
  }
}
