.page-footer {
  width: 100%;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.page-footer__logo {
  text-align: center;
  display: block;
  margin-top: 37px;
  margin-bottom: 28px;
}

.page-footer__wrapper {
  width: 100%;
  padding: $mobile-margin;
  box-sizing: border-box;
}

.page-footer__copyright {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 22px;
  margin-bottom: 22px;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  color: #444444;
}

.page-footer__copyright svg {

  &:hover{
    fill: $cat-green;
  }
}

.copyright__author {
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  color: #444444;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: $tablet-margin;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    padding: $desktop-margin;
  }
}
