.page-header {
  background-color: #ffffff;
  margin: 0;
}

.page-header__menu-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.page-header__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: $mobile-margin;
  background-color: #ffffff;
}

.page-header__toggle {
  position: absolute;
  width: 24px;
  height: 22px;
  right: 0;
  z-index: 2;
  cursor: pointer;
  border: none;
  background-color: inherit;
}

.page-header__menu-wrapper--closed .page-header__toggle::before {
  content: "";

  position: absolute;
  top: 0;
  right: 0;

  width: 24px;
  height: 2px;

  background-color: #000000;
  box-shadow: 0 10px 0 0 #000000, 0 20px 0 0 #000000;
}

.page-header__menu-wrapper--opened .page-header__toggle {
  content: "";

  &::before,
  &::after {
    content: "";
    right: 0;
    position: absolute;

    width: 24px;
    height: 2px;

    background-color: black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.page-header__logo img {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .page-header {
    background: none;
  }

  .page-header__menu-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: $tablet-margin;
  }

  .page-header__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    background: url("../img/index-background-desktop@1x.jpg") no-repeat;
    background-position: right 0;
    background-size: 50%;
    z-index: inherit;
  }

  .page-header__menu-wrapper {
    margin: $desktop-margin;
  }
}
