.page-header {
  background-color: #ffffff;
  margin: 0;
}

.page-header__menu-wrapper {
  display: flex;
  flex-direction: column;
  margin: $mobile-margin;
  padding: 0;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__logo img {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .page-header {
    background: none;
  }

  .page-header__menu-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: $tablet-margin;
  }

  .page-header__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    background: url("../img/index-background-desktop@1x.jpg") no-repeat;
    background-position: right 0;
    background-size: 50%;
    z-index: inherit;
  }

  .page-header__menu-wrapper {
    margin: $desktop-margin;
  }
}
