.social__wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
  box-sizing: border-box;
}

.social {
  display: flex;
  width: 135px;
  justify-content: flex-start;
  align-items: center;
  padding-top: 21px;
  padding-bottom: 17px;
}

.social__item {
  margin-right: 38.5px;
}

.st0 {
  fill: #231f20;
}

.social__link {
  fill: #666666;

  &:hover {
    fill: $link-green;

    .st0 {
      fill: $link-green;
    }
  }
}

.social__link--vkontakte {
  width: 22px;
  height: 12px;
}

.social__link--facebook {
  width: 10px;
  height: 19px;
}

.social__link--instagram {
  width: 16px;
  height: 16px;
}

@media (min-width: $tablet-width) {
  .social__wrapper {
    width: 324px;
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .social__wrapper {
    width: 570px;
    border: none;
  }
}
