/*Colors*/
$cat-green: #68b738;
$about-green: #65a93c;
$cat-grey: #f2f2f2;

/*Widths*/
$tablet-width: 768px;
$desktop-width: 1200px;


/*Paddings*/
$mobile-padding: 0 20px;
$tablet-padding: 0 30px;
$destop-padding: 0 110px;
