.adds-item {
  margin-bottom: 0;
  margin-top: 9px;
  border: none;
}

.adds-item__product {
  padding: unset;
  padding-bottom: 16px;
  border-bottom: 1px solid #cdcdcd;
  box-sizing: border-box;
}

.adds-item__details {
  width: 100%;
  margin-bottom: 12px;
}

.adds-item__name {
  font-weight: 400;
  color: #222222;
  padding-bottom: 9px;
}

.adds-item__row {
  width: 280px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 14px;
  margin-left: -3px;
}

.adds-item__field {
  width: 50%;
}

.adds-item__value {
  width: 50%;
}