.catalog__item {
  margin-bottom: 25px;
  border-bottom: 1px solid #e6e6e6;
  box-sizing: border-box;
}

.product__show-all {
  color: #000000;
  background-color: #f2f2f2;
}

.product-wrapper {
  display: flex;
}

@media (min-width: $tablet-width) {
  .catalog {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .catalog__item {
    display: flex;
    padding: 0 40px;
    justify-content: center;
    width: 324px;
    background-color: $cat-grey;
    box-sizing: border-box;
  }
}
