.main-catalog {
  margin: 0 20px;
}

.main-catalog__title {
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  color: #111111;
}

@media (min-width: $tablet-width) {
  .main-catalog__title {
    font-size: 60px;
  }
}
