.main-catalog__title {
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  color: #111111;
  padding: $mobile-margin;
  margin-top: 14px;
  margin-bottom: 0;
  padding-bottom: 29px;
  border-bottom: 1px solid #e6e6e6;
}

@media (min-width: $tablet-width) {
  .main-catalog__title {
    font-size: 60px;
  }
}
