.product {
  padding: $mobile-margin;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 24px;
}

.product__img {
  width: 140px;
  height: 144px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.product__img img {
  width: 100%;
  height: auto;
}

.product-details {
  width: 50%;
  padding: 22px 0;
}

.product-details__name {
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 15px;
  text-transform: uppercase;
}

.product-details__row {
  width: 100%;
}

.product-details__field {
  width: 50%;
}

.product-details__value {
  width: 0%;
  text-align: right;
}
