.product {
  padding: $mobile-margin;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 24px;
}

.show-more {
  position: relative;
  padding-top: 64px;
  text-align: center;
}

.show-more__heading {
  position: relative;
  margin-bottom: 0;
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  color: #111111;

  &::before,
  &::after {
    position: absolute;
    content: "";
    top: -40px;
    right: 50%;
    transform: translateX(50%);
    width: 30px;
    height: 2px;
    background-color: #d3d3d3;
  }

  &::after {
    transform: translateX(50%) rotate(90deg);
  }
}

.show-more__text {
  margin-top: 7px;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.product__show-all {
  font-size: 16px;
  line-height: 20px;
  padding: 10px 20px;
}

.product__img {
  width: 140px;
  height: 144px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2px;
  margin-bottom: -2px;
}

.product__img img {
  width: 100%;
  height: auto;
}

.product-details {
  width: 50%;
  padding: 18px 0;
  margin-left: -2px;
}

.product-details__name {
  width: 60%;
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 14px;
  margin: 0;
  text-transform: uppercase;
}

.product-details__row {
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  width: 100%;
  padding: 0;
  margin: 0;
}

.product-details__field {
  width: 50%;
}

.product-details__value {
  display: block;
  text-align: right;
  margin-right: -5px;
}

.product__btn {
  padding: 10px 20px 10px;
  font-size: 16px;
  line-height: 20px;
}
