.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-bottom: 20px;
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  background: url("../img/index-background-mobile@1x.jpg") no-repeat;
  background-position: center 0;
  background-size: cover;
}

.about__header {
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
}

.about__wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.about__slogan {
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-transform: uppercase;
}

.about__call-to-action {
  background-color: $cat-green;
}

@media (min-width: $tablet-width) {
  .about {
    margin: $tablet-margin;
    background: #ffffff;
  }

  .about__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 457px;
    padding-left: 90px;
    background: none;
  }

  .about__header {
    font-size: 60px;
    line-height: 60px;
    color: #000000;
  }

  .about__slogan {
    color: #000000;
    font-size: 20px;
    line-height: 20px;
  }

  .about__call-to-action {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .about {
    margin: $desktop-margin;
    width: 975px;
    padding: 0 80px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: flex-start;
    background: none;
  }

  .about__wrapper {
    justify-content: flex-start;
    align-items: flex-start;
    width: 570px;
    padding-left: 0;
    background: none;
  }

  .about__action {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
  }
}
