.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-bottom: 197px;
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  background: url("../img/index-background-mobile@1x.jpg") no-repeat;
  background-position: center 0;
  background-size: cover;
}

.about__header {
  font-size: 36px;
  line-height: 36px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding: 29px 10px 10px 10px;
}

.about__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin: $mobile-margin;
}

.about__slogan {
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-top: 9px;
  padding: 0;
  padding-bottom: 168px;
}

.about__image {
  position: absolute;
  width: 280px;
  height: 270px;
  bottom: -140px;
}

.about__call-to-action {
  position: absolute;
  bottom: -170px;
  background-color: $cat-green;
}

@media (min-width: $tablet-width) {
  .about {
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: $tablet-margin;
    padding-bottom: 460px;
  }

  .about__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    padding-left: 90px;
    background: none;
    margin: 0;
    padding-top: 50px;
    box-sizing: border-box;
  }

  .about__header {
    width: 427px;
    padding: 0;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    text-align: start;
  }

  .about__slogan {
    margin-top: 33px;
    color: #000000;
    font-size: 20px;
    line-height: 20px;
  }

  .about__call-to-action {
    bottom: 70px;
  }

  .about__image {
    width: 709px;
    height: 609px;
    bottom: -460px;
    left: 0;
    z-index: -1;
  }
}

@media (min-width: $desktop-width) {
  .about {
    padding: 0 80px;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: flex-start;
    background: none;
  }

  .about__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 0;
    background: none;
  }

  .about__header {
    text-align: start;
    padding-top: 100px;
  }

  .about__image {
    width: 552px;
    height: 499px;
    bottom: unset;
    left: 50%;
    transform: translateX(-29%);
    z-index: 1;
  }
}
