.about-product {
  margin: 0 20px;
  padding: 0;
  padding-bottom: 21px;
}

.about-product__title {
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  color: #111111;
  padding: 0;
  padding-bottom: 29px;
  margin: 0;
}

.about-product__text {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 2px;
}

.about-product__list-item {
  position: relative;
  min-height: 60px;
  margin-bottom: 20px;
  padding-left: 80px;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: #68b738;
    content: "";
  }

  &--leaf::after {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 60px;
    height: 60px;
    background: url("../img/advantage-leaf@1x.png");
    background-repeat: no-repeat;
    content: "";
  }

  &--water::after {
    position: absolute;
    top: 3px;
    left: 5px;
    width: 60px;
    height: 60px;
    background: url("../img/advantage-powder@1x.png");
    background-repeat: no-repeat;
    content: "";
  }

  &--tools::after {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 60px;
    height: 60px;
    background: url("../img/advantage-dining@1x.png");
    background-repeat: no-repeat;
    content: "";
  }

  &--timer::after {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 60px;
    height: 60px;
    background: url("../img/advantage-clock@1x.png");
    background-repeat: no-repeat;
    content: "";
  }
}

@media (min-width: $tablet-width) {
  .about-product {
    margin: $tablet-margin;
  }

  .about-product__title {
    font-size: 60px;
    line-height: 60px;
  }

  .about-product__list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .about-product__list-item {
    padding: 0;
    padding-top: 115px;
    padding-right: 90px;
    margin-right: 30px;
    box-sizing: border-box;
    width: 354px;
    position: relative;
    min-height: 320px;
    font-size: 16px;
    line-height: 24px;

    &:nth-child(2n) {
      width: 324px;
      margin-right: 0;
    }

    &::before {
      width: 80px;
      height: 80px;
    }

    &::after {
      top: 15px;
      left: 15px;
    }

    &--leaf {
      position: relative;
    }

    &--leaf p::after {
      position: absolute;
      content: "1";
      font-size: 300px;
      width: 100%;
      left: 110px;
      top: -20px;
      color: #f2f2f2;
      font-family: "Oswald", "Arial", "Helvetica", sans-serif;
      z-index: -1;
    }

    &--water p::after {
      position: absolute;
      content: "2";
      font-size: 300px;
      width: 100%;
      left: 110px;
      top: -20px;
      color: #f2f2f2;
      font-family: "Oswald", "Arial", "Helvetica", sans-serif;
      z-index: -1;
    }

    &--tools p::after {
      position: absolute;
      content: "3";
      font-size: 300px;
      width: 100%;
      left: 110px;
      top: -20px;
      color: #f2f2f2;
      font-family: "Oswald", "Arial", "Helvetica", sans-serif;
      z-index: -1;
    }

    &--timer p::after {
      position: absolute;
      content: "4";
      font-size: 300px;
      width: 100%;
      left: 110px;
      top: -20px;
      color: #f2f2f2;
      font-family: "Oswald", "Arial", "Helvetica", sans-serif;
      z-index: -1;
    }
  }
}

@media (min-width: $desktop-width) {
  .about-product {
    margin: $desktop-margin;
  }

  .about-product__list {
    justify-content: space-between;
  }

  .about-product__list-item {
    width: 245px;
  }
}
