.about-product {
  margin: 0 20px;
  padding: 0;
}

.about-product__title {
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  color: #111111;
}

.about-product__list-item {
  position: relative;
  min-height: 60px;
  margin-bottom: 20px;
  padding-left: 80px;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: #68b738;
    content: "";
  }

  &--leaf::after {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 60px;
    height: 60px;
    background: url("../img/advantage-leaf@1x.png");
    background-repeat: no-repeat;
    content: "";
  }

  &--water::after {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 60px;
    height: 60px;
    background: url("../img/advantage-powder@1x.png");
    background-repeat: no-repeat;
    content: "";
  }

  &--tools::after {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 60px;
    height: 60px;
    background: url("../img/advantage-dining@1x.png");
    background-repeat: no-repeat;
    content: "";
  }

  &--timer::after {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 60px;
    height: 60px;
    background: url("../img/advantage-clock@1x.png");
    background-repeat: no-repeat;
    content: "";
  }
}

@media (min-width: $tablet-width) {
  .about-product {
    margin: $tablet-margin;
  }

  .about-product__list {
    display: flex;
    flex-wrap: wrap;
  }

  .about-product__list-item {
    width: 324px;
  }
}

@media (min-width: $desktop-width) {
  .about-product {
    margin: $desktop-margin;
  }

  .about-product__list-item {
    width: 245px;
  }
}
